* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgba(169,209,142, 0.3);
    font-family: Calibri, sans-serif;
    height: 100%;

}

header {
    height: 5%;
    width: 100%;
    text-align: center;
    background-color: rgba(169,209,142,1);
    border-bottom: 1px solid #507e32;
}

footer {
    text-align: center;
    background-color: rgba(169,209,142,1);
    border-top: 1px solid #507e32;
    width: 100%;
    position:absolute;
    bottom:0;
    left:0;
}

#wrapper {
    height: 80%;
    padding: 5% 5% 5% 5%;
}

.menu {
    margin: 0;
    padding: 2%;
    display: block;
    float: left;
    width: 10%;
    font-size: 1.4rem;
    box-shadow: 1px 1px 1px #888888;
    border: solid 1px grey;
    background-color: rgba(169,209,142,1);
}

.menu > p {
    font-size: 0.7em;
    text-align: center;
}

#login {
    padding: 2% 2% 2% 2%;
    display: block;
    border-radius: 8px;
    box-shadow: 1px 1px 1px #888888;
    border: solid 1px #507e32;
    margin: 5% auto;
    width: 25%;
    background-color: rgba(169,209,142,1);
    font-size: 1.2em;
}

#login div input {
    display: block;
    font-size: 1.3rem;
    width: 100%;
    margin: 2px 0;
}

.mainHeader {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 1% 20%;
    text-align: center;
    margin: 0 0 2% 0;
    border-bottom: solid 2px black;
}

.button {
    width: 100px;
    height: 35px;
    margin: 2% 1%;
    background-color: #70ad47;
    border-radius: 8px;
    border: 1px solid #507e32;
    outline: none;
    cursor: pointer;
    color: white;
}

.button:hover {
    background-color: #568c3f;
    color: lightgray;
}


.data {
    display: block;
    margin: 0;
}

.panel {
    height: 40px;
    text-align: center;
    width: 100%;
    position: relative;
}

.panel > #loginBtn{
    float: left;
}

.panel > a{
    float: right;
    margin-top: 10px;
}

