.sideMenu {
    display: block;
    float: left;
    width: 15%;
}

.nav {
    padding: 2%;
    width: 85%;
    font-size: 1.4rem;
    box-shadow: 2px 2px 2px #888888;
    border: solid 1px grey;
    background-color: rgba(169,209,142,1);
    margin-bottom: 20px;
}

.nav > label {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1% 20%;
    text-align: center;
    border-bottom: solid 2px black;
}

.nav > select {
    margin-top: 30px;
    height: 110px;
    width: 80%;
    overflow: hidden;
    background-color: rgba(169,209,142,1);
    border: none;
    margin-bottom: 20px;
}

.nav > select:focus {
    outline: none;
}

.nav > select > option {
    margin-bottom: 10px;
    border: 1px solid rgba(169,209,142,1);
    cursor: pointer;
}

.nav > select > option:hover {
    background-color: rgba(217,165,1,1);
    border: 1px solid black;
}

#myAds-label {
    margin-left: 8%;
}